body {
    margin: 0;
    background-image:url(./assets/chair.jpg);
    margin: 0;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}

#navigation-bar {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    color: white;  
    
}

nav > div > button {
    display: inline-block;
    padding: 15px;
    border-style: solid; 
    border-color: white;
    background-color: black;
    color: white;
}

button:hover {
    border-width: 3px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: 2%;
}

.booking {
    background-color: transparent;
    padding: 5px;
    color: white;
    font-size: large;
    border-color: white;
    border-style: ridge;
}

.page-container {
    border-style: solid;
    padding: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);

}

table, th, td {
    border: 2px solid;
}

table {
    border: 2px;
    text-align: left;
    color:white;
}

table > tr> th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    color:white;
}

td {
    padding: 8px;
}

.outer-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-container{
    display: flex;
    height: auto;
}

.carousel-container-transition {
	transition: transform 0.7s ease-in-out;
}

#chevronL, #chevronR {
    border-style: solid;
    width: 100px;  
    height: 50%;
    border-color: white;
}

.active {
    display: inline-block;
}

.inactive {
    display: none;
}
.carousel-image {
    position: relative;
    width: auto;
    border-style: solid;
    border-color: white;
    max-height: 500px;
    z-index: -1;
}