body {
    margin: 0;
    background-image:url(./assets/chair.jpg);
    margin: 0;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

#navigation-bar {
    display: flex;
    height: auto;
    background-color: black;
    color: white;  
}

nav > div > button {
    display: inline-block;
    padding: 0 20px;
    border-style: solid; 
    border-color: white;
    background-color: black;
    color: white;
}

button:hover {
    border-width: 3px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: white;
}

.booking {
    background-color: transparent;
    padding: 5px;
    color: white;
    /* border-radius: 8px; */
    font-size: large;
    /* border-width: 10px; */
    border-color: white;
    border-style: ridge;
}

.page-container {
    border-style: solid;
    padding: 10px;

}