body {
    margin: 0;
    background-image:url(./assets/chair.jpg);
    margin: 0;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

#navigation-bar {
    display: flex;
    height: auto;
    background-color: black;
    color: white;  
}

nav > div > button {
    display: inline-block;
    padding: 0 20px;
    border-style: solid; 
    border-color: white;
    background-color: black;
    color: white;
}

main {

}

.background {
    width: 100%;
}